<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../build/css/foundation.css" />
    <link rel="stylesheet" href="../../build/css/options.css" />
</head>

<body>

    <div class="grid-container">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Imgur Uploader</li>
                    <li><a href="./options.html">Addon Setting</a></li>
                    <li><a href="./image_manage.html">Image Manage</a></li>
                    <li><a href="./aboutme.html">About me</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-x">
            <div class="medium-12 cell panel">
                <h3>Imgur Uploader</h3>
                <ul>
                    <li>Version: 1.5.5</li>
                    <li><a href="http://github.com/st900278/Imgur-Uploader-Firefox">Home Page</a></li>
                </ul>

            </div>
        </div>
    </div>
    </div>
    <script src="../../build/js/jquery.js"></script>
    <script src="../../build/js/foundation.js"></script>

</body>

</html>
