<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../build/css/foundation.css" />
    <link rel="stylesheet" href="../../build/css/options.css" />
</head>

<body>

    <div class="grid-container">
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="dropdown menu" data-dropdown-menu>
                    <li class="menu-text">Imgur Uploader</li>
                    <li><a href="./options.html">Addon Setting</a></li>
                    <li><a href="./image_manage.html">Image Manage</a></li>
                    <li><a href="./aboutme.html">About me</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-x main">
            <div class="medium-12 cell panel">

                <div class="tabs-panel is-active" id="panel1">
                    <!--
                    <form>
                        <div class="grid-container">
                            <h4>Imgur</h4>
                            <div class="grid-x grid-padding-x">
                                <div class="medium-6 cell">
                                    <label>Client-ID
                                        <input type="text" placeholder="Client-ID" id="client-id">
                                    </label>
                                </div>
                            </div>
                            <button class="success button" id="save-id">Save</button>
                        </div>
                    </form>

                    <hr>
                    -->
                    <div class="grid-container">
                        <h4>Imgur Account</h4>
                        <div class="grid-x grid-padding-x">
                            <div class="medium-3 cell" id="account">

                            </div>
                            <div class="medium-9 cell" id="login-btn">

                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="grid-container">
                        <h4>Auto Copy to Clipboard</h4>
                        <div class="switch">
                            <input class="switch-input" id="clipboard-switch" type="checkbox" name="clipboard-switch">
                            <label class="switch-paddle" for="clipboard-switch">
                                <span class="switch-active" aria-hidden="true">Yes</span>
                                <span class="switch-inactive" aria-hidden="true">No</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="../../build/js/jquery.js"></script>
    <script src="../../build/js/foundation.js"></script>
    <script src="../../build/js/settings_options.bundle.js"></script>

</body>

</html>
