<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../build/css/foundation.css" />
</head>

<body>
    <div class="grid-container">
        <h3>Imgur-Uploader V1.5.5</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Add readme to meet mozilla addon's rule</p>
        </div>

        <h3>Imgur-Uploader V1.5.4</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Fix delete function in pop-up page.</p>
        </div>

        <h3>Imgur-Uploader V1.5.3</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Fix extension bug of copy image function</p>
        </div>

        <h3>Imgur-Uploader V1.5.2</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Fix Image Manager Bug</p>
        </div>

        <h3>Imgur-Uploader V1.5.1</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Fix Changelog tab bug</p>
        </div>

        <hr>
        <h3>Imgur-Uploader V1.5.0</h3>
        <div class="callout primary">
            <h5>Main Difference</h5>
            <p>Imgur Account Function was implemented. User can view account's images in the setting page.</p>
            <p>More function will be implemented in the future.</p>
            <h6>Also, please forgive me for the ugly UI :)</h6>
        </div>
    </div>
    <script src="../../build/js/jquery.js"></script>
    <script src="../../build/js/foundation.js"></script>

</body>

</html>
