<!doctype html>

<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../build/css/foundation.css"/>
  <link rel="stylesheet" href="../build/css/module.css" />
</head>

<body>
  <div class="grid-x">
    <div class="cell">
        <button class="button expanded" id="add-image">Add Image</button>
        <input type="file" class="hide" id="add-file">
    </div>
    <div class="cell" id="image-list">
    </div>
    <div class="viewer">
        <img class="big-preview"/>test
    </div>
  </div>
  <script src="../build/js/jquery.js"></script>
  <script src="../build/js/foundation.js"></script>

  <script src="../build/js/popup.bundle.js"></script>
</body>

</html>
